<!DOCTYPE html>
<html>
  <head>
    <title>Checkout</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Wheels and Deals</h1>

      <h2>For all your transportation needs</h2>
      <a class="small_link" href="/">Return to Merchandise</a> .
    </header>

    <div class="checkout_div">
      <h1 class="title">My Cart</h1>

      {% if contents|length < 1 %}
      <h1 class="message">Your cart is currently empty.</h1>
      <footer class="checkout"><a href="/">Return to Merchandise</a></footer>
      {% else %}
      <table>
        <tr>
          <th>Merchandise</th>
          <th class="image_head">Image</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Remove All</th>
        </tr>
        {% for i in contents%}
        <tr>
          <td>{{ i.name }}</td>
          <td class="image_cell"><img src="{{ i.image }}" /></td>
          <td>${{ i.price }}</td>
          <td>{{ i.quantity }}</td>
          <td><a href="/remove/{{ i.name }}">Remove</a></td>
        </tr>
        {% endfor %}
      </table>
      <p>Total: ${{ total }}</p>

      <hr />

      <footer class="checkout">
        <a href="/finish/{{ total }}">Proceed to checkout</a>
      </footer>

      {% endif %}
    </div>
  </body>
</html>
